.section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(253, 251, 247);
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 8px;
}

.input {
  width: 95%;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.input:focus {
  outline: none;
  border-color: rgb(8, 179, 108);
}

.button {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(93, 93, 252);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: all 250ms linear;
  border-radius: 4px;
}

.button:hover {
  background-color: rgb(8, 179, 108);
  transition: all 150ms linear;
}
